<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,700" rel="stylesheet">
    </head>
    <body>
        <header>
            <div class="wrapper">
                <a class="logo" href="/">Usage Storer</a>
                <ul class="nv-l">
                    <li><a href="/usage/create">Create Usage</a></li>
                    <li><a href="/usage/userReport">User Report</a></li>
                    <li><a href="/usage/records">All Records</a></li>
                   
                </ul>
                <ul class="nv">
                    <li><a href="/aboutus.html">About</a></li>
                    <li><a href="/help.html">Help</a></li>
                    
                </ul>
            </div>
        </header>
