<% include partials/head %> 
<div class="wrapper">
    <h1><%= title %></h1>
    <div class="ra-r">
        <div class="tp">
            <a class="thumb-pr r-e" href="/usage/create">Enter your daily usage</a>
        </div>
       
    </div>
</div>
<% include partials/foot %>